.heading{
    font-size: 23px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    color: white;
    background-color:darkgreen;  
    text-align: center;
    padding: 5px;
    margin-top: 10px;

}
.gender{
    font-size: 23px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    color: white;
    background-color:darkgreen;  
    text-align: center;
    padding: 5px;
    margin-top: 10px;           
}
table{
    width: 60%;
    border-collapse: collapse;
    color: #588c7e;
    font-family: monospace;
    border: 1px solid #588c7e;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
th , tr , td{
    border: 2px solid #588c7e;
    padding: 15px;
}
th{
    background-color: #75afa0;
    color: white;
    
    
}
.sub{
    color: #588c7e;
    font-weight: bold;
}
tr{
    color: black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
    
}
tfoot{
    background-color: #588c7e;
    color: white;
}
tfoot td{
    background-color: #588c7e;
    color: white;
}

